[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-tables2 = "*"
mlb-statsapi = "*"
requests = "*"
pytz = "*"
nfl-data-py = "*"
djangorestframework = "*"
celery = "*"
django_celery_beat = "*"

[dev-packages]
djangorestframework = "*"

[requires]
python_version = "3.11"
