/* MAIN */

/*
light : E5F9E0
*/

@font-face {
    font-family: 'market deco';
    src: url('../assets/fonts/Market_Deco.ttf') format('truetype');
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: "market deco", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #0b3142;
    text-align: left;
    background-color: whitesmoke; }

.footer {
    padding: 0.9375rem 0; }
.float-left {
    float: left !important; }
.float-right {
    float: right !important; }
.text-center {
    text-align: center; }
.text-right {
    text-align: right;
}

.wrapper {
    position: relative;
    top: 0;
    height: 100vh; }

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }

.main-panel {
    position: relative;
    float: right;
    width: 100vw;
    transition: 0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1); }
    .main-panel > .content {
        margin-top: 40px;
        padding: 30px 30px;
        min-height: calc(100vh - 123px); }
    .main-panel > .footer {
        border-top: 1px solid #e7e7e7; }
    .main-panel > .navbar {
        margin-bottom: 0; }
    .main-panel .header {
        margin-bottom: 30px; }
        .main-panel .header .title {
        margin-top: 10px;
        margin-bottom: 10px; }

/* NAVBAR */
.navbar {
    position: absolute;
    width: 100vw;
    padding-top: 10px;
    z-index: 1029; }
    .navbar > .container-fluid {
        display: flex; }
.navbar-wrapper {
    display: inline-flex;
    align-items: center; }
.navbar-content {
    display: flex;
    flex-basis: auto;
    margin-left: auto; }
.navbar-brand {
    position: relative;
    color: inherit;
    height: 50px;
    font-size: 1.125rem;
    line-height: 30px;
    padding: 0.625rem 0;
    font-weight: 300;
    margin-left: 1rem; }
.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; }
    .navbar-nav .dropdown-menu {
        position: static;
        float: none; }
.nav-item {
    padding: 3px; }
    .nav-item > a {
        color: #0b3142;
    }
.nav-item-dropdown-content {
  display: none;
  position: absolute;
  border: 0.2rem solid #994636;
  border-radius: .5rem;
  background-color: whitesmoke;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 0;
  left: auto; }
  .nav-item-dropdown-content > hr {
    border-color: #994636;
  }


.nav-item-dropdown:hover {
    cursor: pointer; }
.nav-item-dropdown .nav-link {
    display: block; }
.nav-item-dropdown:hover .nav-item-dropdown-content {
    display: block; }

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.5rem;
    clear: both;
    font-weight: 400;
    color: #0b3142;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0; }
    .dropdown-item:hover, .dropdown-item:focus {
        color: #0b3142;
        text-decoration: none; }
    .dropdown-item.active, .dropdown-item:active {
        color: whitesmoke;
        text-decoration: none;
        background-color: #994636; }
    .dropdown-item.disabled, .dropdown-item:disabled {
        color: #6c757d;
        background-color: transparent; }

.login-btn {
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    color: #0b3142;
    background-color: transparent;
    border: 0.2rem solid #0b3142;
    box-shadow: none;
    text-align: center;
    border-radius: 1rem; }
    .login-btn:hover {
        background-color: #0b3142;
        color: whitesmoke; }
