@font-face {
    font-family: "test";
    src: url('../fonts/electrical.ttf') format('truetype');
}

.no-login-container {
    width: 100%;
    font-size: large;
    text-align: center;
    padding-top: 5vh;
}
.home-title {
    font-family: "test", sans-serif;
    font-weight: 1;
    font-size: 60px;
    line-height: 60px;
    padding-top: 3px;
    padding-bottom: 7px; }
.home-header-container {
    width: fit-content; 
    padding-top: 0px; 
    padding-bottom: 10px; 
    margin: auto; }
.create-btn {
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    color: #994636;
    background-color: transparent;
    border: 0.2rem solid #994636;
    box-shadow: none;
    text-align: center;
    border-radius: 1rem; }
    .create-btn:hover {
        background-color: #994636;
        color: whitesmoke; }
    .create-btn.disabled:hover {
        cursor: default;
        background-color: whitesmoke;
        color: #994636; }
    .create-btn.disabled {
        pointer-events: none;}

/* CARD */
.pool-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    background: transparent;
    width: 100%; }
.pool-card-header {
    border-bottom: none;
    background: transparent;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    font-size: x-large; }
.pool-container {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 38%;
    max-width: 38%; }
.stat-container {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 19%;
    max-width: 19%; }
.pool-card-scroll {
    border: .2rem solid #994636; 
    margin: 0px 15px 0px 15px;
    border-radius: 0.4rem;
    overflow-y: scroll;
    height: 50vh; }

/* POOL ITEM */
.clickable:hover {
    background-color: #994636; }
.clickable:hover hr {
    display: none; }
.clickable:hover .pool-item-name {
    color: whitesmoke }
.clickable:hover .pool-item-content {
    color: whitesmoke }

.pool-item {
    margin: 0px;
    padding: .75rem 0rem 0.5rem 0rem; }
    .pool-item > hr {
        border-style: inset;
        width: 90%;
        border-color: #994636; 
        margin: 0 auto 0 auto;}
.pool-item-name {
    text-align: center;
    margin: auto;
    font-size: larger; }
.pool-item-content {
    display: flex; }
    .owner {
        display: flex; 
        margin: auto 0px auto auto; }
    .user-count {
        display: flex;
        margin: auto 0 auto 0;
        padding: 0px 10px 0px 10px; }
    .status {
        margin: auto auto auto 0px; }
.stat-item {
    padding: 5px;
    margin: auto; 
    text-align: center; }
    .title {
        margin-bottom: -10px; }
    .score {
        font-size: 50px; }
    .subtitle {
        margin-top: -10px; }
