
@font-face {
  font-family: 'market deco';
  src: url('../assets/fonts/Market_Deco.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: "market deco", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0b3142;
  text-align: left;
  background-color: whitesmoke; }

.login-background {
  position: fixed; 
  width: 100%; 
  height: 100%; 
  left: 0; 
  top: 0; 
  background: rgba(51,51,51,0.7); 
  z-index: 10;
  align-content: center; }
.login-container {
  width: 50%;
  margin: auto;
  border: .2rem solid #994636;
  border-radius: 1rem;
  background-color: whitesmoke; }
.login-header {
  text-align: center;
  font-size: x-large; }
  .login-header > hr {
    border: .1rem solid #994636;
    width: 90%; }
.login-btn {
  font-family: "market deco", sans-serif;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  margin: auto;
  font-size: 1rem;
  border-radius: 1rem;
  color: #994636;
  background-color: transparent;
  border: 0.2rem solid #994636;
  box-shadow: none;
  text-align: center; }
  .login-btn:hover {
      cursor: pointer;
      background-color: #994636;
      color: whitesmoke; }
.cancel-btn {
  text-decoration: none;
  font-family: "market deco", sans-serif;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  margin: auto;
  font-size: 1rem;
  border-radius: 1rem;
  color: #7798AB;
  background-color: transparent;
  border: 0.2rem solid #7798AB;
  box-shadow: none;
  text-align: center; }
  .cancel-btn:hover {
      cursor: pointer;
      background-color: #7798AB;
      color: whitesmoke; }
.create-btn {
  font-family: "market deco", sans-serif;
  padding: 0.1rem 0.25rem 0.1rem 0.25rem;
  text-decoration: none;
  font-size: small;
  border-radius: 1rem;
  color: #994636;
  background-color: transparent;
  box-shadow: none;
  text-align: center; }
  .create-btn:hover {
      cursor: pointer;
      background-color: #994636;
      color: whitesmoke; }
.form-input {
  display: inline-block;
  width: 60%;
  height: 2rem;
  font-size: large;
  text-align: center;
  font-weight: bold;
  color: #0b3142;
  margin: auto;
  box-shadow: none;
  border: 0;
  border-bottom: .2rem solid #994636;
  background-color: transparent;
  -webkit-box-shadow: 0 0 0px 1000px whitesmoke inset !important; }
  .form-input:focus {
    outline-style: none; }
  .form-input.text {
    font-family: "market deco", sans-serif;
  }