@font-face {
    font-family: "test";
    src: url('../fonts/electrical.ttf') format('truetype');
}

.view-row, .category-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;}
.view-title {
    font-family: "test", sans-serif;
    font-weight: 1;
    font-size: 60px;
    line-height: 60px;
    padding-top: 3px;
    padding-bottom: 7px; }
.view-header-subtitle {
    width: fit-content; 
    margin-left: auto; 
    font-size: 20px; 
    font-weight: 300;}
.view-header-container {
    width: fit-content; 
    padding-top: 0px; 
    padding-bottom: 10px; 
    margin: auto;}
.leaderboard-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    background: transparent;
    width: 100%; }
.leaderboard-card-header {
    border-bottom: none;
    background: transparent;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    font-size: x-large; }
.leaderboard-container {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 30%;
    max-width: 30%; }
.leaderboard-card-scroll {
    border: .2rem solid #994636; 
    margin: 0px 15px 0px 15px;
    border-radius: 0.4rem;
    overflow-y: scroll;
    height: 50vh; }

.clickable:hover {
    background-color: #994636; }
.clickable:hover hr {
    display: none; }
.clickable:hover .pool-item-name {
    color: whitesmoke }
.clickable:hover .pool-item-content {
    color: whitesmoke }

.leaderboard-item {
    background-color: transparent;
    margin: 0px;
    padding: .75rem 0rem 0.5rem 0rem; }
.leaderboard-item > a {
    color: #0b3142; }
    .leaderboard-item > a > hr {
        width: 90%;
        border-color: #994636; 
        margin: 0 auto 0 auto; }
    .leaderboard-item:hover {
        background-color: #994636; }
    .leaderboard-item:hover > a {
        color: whitesmoke; }
.leaderboard-username {
    padding-left: 10px; 
    margin-top: auto; 
    margin-bottom: auto; 
    margin-right: auto; }
.leaderboard-score {
    padding-right: 10px;
    margin-left: auto; }
.leaderboard-number {   
    width: 8%;
    text-align: center;
    padding: 3px 3px 3px 10px;}

.add-friends-btn {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    font-size: 0.75rem;
    line-height: 1.5;
    color: #994636;
    background-color: transparent;
    border: 0.2rem solid #994636;
    box-shadow: none;
    text-align: center;
    border-radius: 1rem;
    margin-left: 1rem; }
    .add-friends-btn:hover {
        cursor: pointer;
        background-color: #994636;
        color: whitesmoke; }
.picks-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    background: transparent;
    width: 100%; }
.picks-card-header {
    border-bottom: none;
    background: transparent;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    font-size: x-large; }
.picks-container {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1; }
.picks-card-scroll {
    margin: 0px 15px 0px 15px;
    border-radius: 0.4rem;
    overflow-y: scroll;
    height: 50vh; }
.player-container {
    border: .2rem solid #994636;
    margin: 0px 10px 10px 10px; 
    padding: 5px 15px 5px 15px;
    border-radius: 6px;
    background: transparent;
    flex: 1; }
    .player-container > hr {
        border: .1rem solid #994636; }
.player-img-container {
    width: 8rem; 
    height: 7rem; }
    .player-img-container > img {
        border: .2rem solid #0b3142;
        border-radius: 50%;
        margin-bottom: 5px; }
.player-info-container {
    margin: 1px; 
    margin-left: 15px;
    font-size: large;
    flex-grow: 1; }

.save-score-btn {
    font-family: "market deco", sans-serif;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin: 0px calc(50% - 5.5rem) 0px 0.5rem;
    font-size: 0.75rem;
    border-radius: 1rem;
    color: #994636;
    background-color: transparent;
    border: 0.2rem solid #994636;
    box-shadow: none;
    text-align: center; }
    .save-score-btn:hover {
        cursor: pointer;
        background-color: #994636;
        color: whitesmoke; }
.score-input {
    font-family: "market deco", sans-serif;
    font-size: medium;
    width: 4rem;
    background-color: transparent;
    border: .2rem solid #0b3142;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    appearance: none;
    cursor: text;
    border-radius: .1rem;}
    .score-input.disabled {
        margin: 0px calc(50% - 2rem) 0px 0.5rem;
    }
.score-progress-container {
    width: 100%; 
    position: relative; }
    .score-progress-container > .vl {
        border-left: .2rem solid #994636;
        position: absolute;
        left:49%;
        height:100%;
        margin:auto; }
.score-progress {
    border: .2rem solid #0b3142;
    border-radius: 1rem;
    height:20px; 
    width: 100%;
    background: whitesmoke; }
    .score-progress::before {
        text-align: center;
        position: absolute;
        text-align: center;
        font-size: 12px;
        color: whitesmoke; }
    .score-progress::-webkit-progress-bar {
        background-color: transparent; }
    .score-progress::-webkit-progress-value {
        background-color: #994636;
        border-radius: 1rem; }
.stat-description {
    margin: 4px 4px 4px auto; 
    font-size: 16px; }
.live-sign {
    padding: 0px 4px 0px 4px;
    border: .2rem solid red;
    border-radius: .2rem; 
    background-color: transparent; 
    color: red; 
    width: min-content; } 
.final-sign {
    padding: 0px 4px 0px 4px;
    border: .2rem solid #7798AB;
    border-radius: .2rem; 
    background-color: #7798AB; 
    color: whitesmoke; 
    width: min-content; }

@media(max-width: 1000px){ 
    .category-row {
        flex-direction: column;
    }
    .view-category-card {
        flex: 0 0 100%;
        max-width: 100%;
    }
}